$foregrn: rgb(160, 160, 160);
$color_2: transparent;
$backgrn: white;
$ytb: #FF0000;
$git: #333;
$spt: #1ED760;
$bhn: #053EFF;
$twt: #1DA1F2;
$ins: #3F729B;
$twi: #6441a5;
$pixifont: 'Pixifont2';
$cellprov: 'CellProvider';

@font-face {
	font-family: 'Pixifont2';
	src: url('fonts/Pixifont2-Regular.woff2') format('woff2'), url('fonts/Pixifont2-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'CellProvider';
	src: url('fonts/CellProvider-Regular.woff2') format('woff2'), url('fonts/CellProvider-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@keyframes rainbow_animation {
	0% {
		background-position: 0% 0;
	}
	100% {
		background-position: 400% 0;
	}
}
/* Button Code, send hlep aaaaaaaaaaaaaaaaaaa*/
body {
	margin: auto;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.pfp {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 4.688rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1.25rem;
}
p {
	font-family: $pixifont;
	font-size: 1rem;
	text-align: center;
	margin: 0;
}
.subtext {
	font-family: $pixifont;
	font-size: 1rem;
	text-align: center;
	color:$foregrn;
	margin: 0;
	font-family: $pixifont;
	font-size: 1rem;
	text-align: center;
	color:$foregrn;
	margin: 0;
}
.exlink {
	font-family: $pixifont;
	font-size: 1.125rem;
	text-align: center;
	margin: 0;
}
.header {
	font-family: $cellprov;
	font-size: 3rem;
	text-align: center;
	margin: 0;
}
.subheader {
	font-family: $cellprov;
	font-size: 1.25rem;
	text-align: center;
	margin: 0;
}
.heading {
	display: flex, inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-basis: 28.125rem;
	min-width: 28.125rem;
	max-width: 28.125rem;
	width: fit-content;
	height: fit-content;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border: 0.313rem solid rgb(223, 223, 223);
	border-radius: 0.938rem;
	padding: 1rem;
	background-color: $backgrn;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}

button {
	font-family: "Pixifont2";
	font-size: 1.2rem;;
	text-align: center;
	min-width: 8rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	position: relative;
	margin: 0.25rem auto;
	padding: 0.3rem 0.4rem;
	border-radius: 0.5rem;
	display: inline-block;
	background-color: white;
	transition-duration: 0.4s;
  }
  button:hover {
	color: white;
  }
  
  .buttonyt {
	border: 0.125rem solid #FF0000;
	color: #FF0000;
  }
  .buttonyt:hover {
	background-color: #FF0000;
  }
  
  .buttongh {
	border: 0.125rem solid #333;
	color: #333;
  }
  .buttongh:hover {
	background-color: #333;
  }
  
  .buttonsp {
	border: 0.125rem solid #1ED760;
	color: #1ED760;
  }
  .buttonsp:hover {
	background-color: #1ED760;
  }
  
  .buttonbh {
	border: 0.125rem solid #053EFF;
	color: #053EFF;
  }
  .buttonbh:hover {
	background-color: #053EFF;
  }
  
  .buttontw {
	border: 0.125rem solid #1DA1F2;
	color: #1DA1F2;
  }
  .buttontw:hover {
	background-color: #1DA1F2;
  }
  
  .buttonig {
	border: 0.125rem solid #3F729B;
	color: #3F729B;
  }
  .buttonig:hover {
	background-color: #3F729B;
  }
  
  .buttontt {
	border: 0.125rem solid #6441a5;
	color: #6441a5;
  }
  .buttontt:hover {
	background-color: #6441a5;
  }

  .button2h {
	border: 0.125rem solid #60c58f;
	color: #60c58f;
  }
  .button2h:hover {
	background-color: #60c58f;
  }